<div className="[80vw] w-auto flex flex-col items-end justify-center">
  <img
    src="{svnit}"
    className="w-full object-cover  sm:h-[500px] h-[300px]"
    alt=""
  />
  <h2 className="p-2 text-[#fefeff] text-center ">Events Descriptiob</h2>
</div>



<div key={eve.id} className="[80vw] w-auto flex flex-col items-end justify-center">
  <img
    src={eve.image}
    className="w-full object-cover  sm:h-[500px] h-[300px]"
    alt=""
  />
  <h2 className="p-2 text-[#fefeff] text-center ">{eve.desc}</h2>
</div>